@import "globals";

section.color {
  @include shadow;
  height: 261.9px;
  max-width: 300px;
  border: 2px solid $light-grey;
  border-bottom-color: darken($light-grey, 40%);
  border-right-color: darken($light-grey, 40%);
  margin: 1em;
  padding: 0;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  transition: opacity .25s ease-in-out;

  &.hide {
    opacity: 0;
  }

  p {
    text-align: center;
  }

  h1 {
    font-family: Verdana, sans-serif;
    text-align: center;
    padding: .5em;
    flex-basis: calc(100% - 1em);
  }

  button {
    position: absolute;
    top: .5em;
    right: .5em;
    flex-basis: calc(12% - 1em);
    text-align: right;
    @include fade-bg($light, $light-grey);
    padding: .75em;
    border-radius: .5px;
  }

  > div:last-child {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: .5em;
  }

  div.color {
    height: 100px;
    flex-basis: 100%;
  }
}