$background-grey: #232323;
$button-grey: #5e5e5e;

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.3em;
    background-color: $background-grey;
    color: #7b7b7b;
}

button {
  height: 2.5rem;
  border: none;
  font-size: 1.3rem;
  border-bottom: 4px solid #ccc;
  margin-left: .5rem;
  cursor: pointer;
  color: $button-grey;
}

.container {
  font-size: 1.3rem;
}

td {
  padding: 3px;
  border: 1px solid black;
}